---

const {
  title,
  thumbnail,
  content,
  background = '#E4E4E4',
  color = '#fff',
  iconWithoutIndent = false,
} = Astro.props;

---

<div class="project" title={title} style={`color: ${color}; background-color: ${background}`}>
  {iconWithoutIndent.toString()}
	<img src={thumbnail} alt="" class={`project_image ${iconWithoutIndent ? 'project_image__without-indent' : ''}`}>

  <div class="project_content">
    <Fragment set:html={content}/>
  </div>
</div>
