---
import Project from './Project.astro';

const posts = Object.values(import.meta.glob('../pages/projects/*.md', { eager: true }));
---

<div class="projects">
  <div class="projects_holder">
    {posts.map(post =>
      <Project
        title={post.frontmatter.title}
        thumbnail={post.frontmatter.thumbnail}
        thumbnailVideo={post.frontmatter.thumbnailVideo}
        color={post.frontmatter.color}
        background={post.frontmatter.background}
        iconWithoutIndent={post.frontmatter.iconWithoutIndent}
        alignTop={post.frontmatter.alignTop}
        content={post.compiledContent()}
      />
      )
    }
  </div>
</div>
